<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>672144217104-4evai365788rsg7n7u5nmt4gbh3up0d6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.672144217104-4evai365788rsg7n7u5nmt4gbh3up0d6</string>
	<key>API_KEY</key>
	<string>AIzaSyCiECyFbU3cMxQvesyfFrn0XHAph3dy_Rw</string>
	<key>GCM_SENDER_ID</key>
	<string>672144217104</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.br.helloAR.HelloAR</string>
	<key>PROJECT_ID</key>
	<string>helloar-66d8a</string>
	<key>STORAGE_BUCKET</key>
	<string>helloar-66d8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:672144217104:ios:675eb6cb69d0073dfe2695</string>
</dict>
</plist>